* {
	padding: 0px;
	margin: 0px;
}

header, section, nav, aside, footer {
	display: block;
}

a {
	text-decoration: none
}

body {
	width: 1000px;
	margin: 0px auto;
}

header a {

	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	display: block;
	position: relative;
	width: 100px;
	height: 100px;
	margin: 0px auto;
	top: 43px;
}
#logo {

	background-color: #d6d6d6;
	height: 190px;
}

 nav{
	
	background-color:#337ab7;
	display:block;
	width:100%;	
	height:62px;
}

 nav ul{
	list-style-type:none;
	margin-left:34px;
	
}

 nav ul li{
	float: left;
}

 nav a{
	text-decoration: none;
	color:#ebffff;
	font-family: "Tahoma";
	display:inline-block;
	margin-top: 20px;
	margin-left: 120px;	
	color:#ebffff;
}


#bold a{
	background-color:#003748;
	color:#ffffff;
	margin:10px auto;
	padding: 10px 85px;
}

section {
	display: inline-block;
	background-color: #ffffff;
	width: 757px;
	height: 698px;
	float: left;
	position: relative;
	
	
}

aside {
	background-color: #eeeeee;
	width: 243px;
	height: 698px;
	float: left;
	
	
}

#box1 {
	position: absolute;
	display: inline-block;
	margin-top: 116px;
	height: 120px;
	width: 698px;
	background: #62c462;
	margin-left: 32px;
	line-height: 116px;
}
#box2 {
	position: absolute;
	display: inline-block;
	top: 266px;
	height: 200px;
	width: 698px;
	background: #62c462;
	left: 32px;
}
#box3 {
	position: absolute;
	display: inline-block;
	left: 548px;
	top: 492px;
	height: 125px;
	width: 182px;
	background: #62c462;
	line-height: 125px;
}
#box4 {
	position: absolute;
	display: inline-block;
	left: 807px;
	top: 266px;
	height: 126px;
	width: 182px;
	background: #62c462;
	line-height: 522px;
}
.footer {
	background-color: #d6d6d6;
	display: block;
	height: 49px;
	width: 100%;
	margin-top: 698px;
}
/* -------------------------------- */


.aside1 {
	background-color: #eeeeee;
	width: 220px;
	height: 758px;
	float: left;
	position: relative;
}

.section1 {
	display: inline-block;
	background-color: #ffffff;
	width: 633px;
	height: 758px;
	float: left;
	position: relative;
}

#nav1{
	width:145px;	
	height:758px;
	width:146px;
	float:left;
	background-color:#337ab7;
}


#nav1 ul{
	list-style-type:none;
	padding:0px;
	margin:0px;
}

#nav1 a{
	display:inline-block;
	text-decoration: none;
	color:#ebffff;
	font-family: "Tahoma";
}

#nav1 li a{
	
	margin-top:20px;
	margin-bottom:20px;
	margin-left:5px;
}

#bold1  {
	background-color:#003748;
	padding: 1px;
	width:100%;
	
}


#box5 {
	position: absolute;
	display: inline-block;
	left: 11px;
	top: 262px;
	height: 68px;
	width: 80px;
	background: #62c462;
	line-height: 262px;
}
#box6 {
	position: absolute;
	display: inline-block;
	left: 9px;
	top: 25px;
	height: 511px;
	width: 188px;
	background: #62c462;
	line-height: 25px;
}
#box7 {
	position: absolute;
	display: inline-block;
	left: 225px;
	height: 323px;
	width: 188px;
	background: #62c462;
	line-height: 215px;
	top: 26px;
}

#box8 {
	position: absolute;
	display: inline-block;
	left:225px;
	top: 371px;
	height: 387px;
	width: 188px;
	background: #62c462;
	line-height: 565px;
}

#box9 {
	position: absolute;
	display: inline-block;
	left: 440px;
	top: 26px;
	height: 125px;
	width: 188px;
	background: #62c462;
	line-height: 215px;
}

.footer1 {

	background-color: #d6d6d6;
	display: block;
	height: 49px;
	width: 1000px;
	margin-top: 758px;
}

/* --------------------------------- */
#nav2{
	background-color:#337ab7;
	display:block;
	width:100%;	
	height:62px;
}


#nav2 ul{
	list-style-type:none;
	margin-right:34px;
}

#nav2 a{
	display:inline-block;
	text-decoration: none;
	color:#ebffff;
	font-family: "Tahoma";
}

#nav2 li a{
	
	text-decoration: none;
	color:#ebffff;
	font-family: "Tahoma";
	display:inline-block;
	margin-top: 20px;
	margin-right: 120px;	
	color:#ebffff;
}

#bold2  {
	text-decoration: none;
	background-color:#003748;
	color:#ffffff;
	font-family: "Tahoma";
	display:inline-block;
	margin: 0px;
	height:62px;
	padding: 0px 1px 0px 1px;
	
	
}

#wrapper {
    max-width: 1000px;
    margin: 0 auto;
}



#wrapper footer{
	background-color: #d6d6d6;
	height: 50px;
	width: 100%;
	
   
}
.clear {
    clear: both;
}

 .rec{
        float:right;
         width: 50%; /*designed for mobiles first*/
        height: 333px;
        cursor: pointer;
                
   }
.rec.plus{
       background: url(../images/white_plus.png) center no-repeat;
        }
 .rec.star {
        background: url(../images/white_star.png) center no-repeat;
        }

 @media screen and (min-width: 1024px) {
        .rec {
            width: 33.3%;
        }
    

 
   